body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header, main, footer {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}

header {
    background-color: #129494;
    color: #fff;
    text-align: center;
}

main {
    display: flex;
    justify-content: space-between;
}

.column {
    width: 48%; /* Adjust as needed */
}

footer {
    background-color: rgb(83, 37, 37)515;
    color: #e80d0d;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
}
